<div>
  <section class="hero is-primary is-medium has-bg-img-1">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6">
            <h1 class="title">{{ 'HOME.TITLE' | translate }}</h1>
            <h2 class="subtitle">{{ 'HOME.DESCRIPTION' | translate }}</h2>

            <div class="buttons has-addons">
              <span class="button is-white"
                    (click)="navToRecipes()">
                {{ 'HOME.CALL2ACTION' | translate }}
              </span>
            </div>
          </div>
          <div class="column is-6">
            <div class="section-media"><img src="assets/img/logo.png" /></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
