.section.is-hero .section-media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  max-width: 800px;
}

.has-bg-img-1 {
  background: url('/assets/img/background/background-1.jpg') center center;
  background-size: cover;
}

.title {
  font-size: 3.5rem;
}

.button {
  margin-bottom: 0.5rem;
  padding: 1.4rem 2rem;
  font-weight: 600;
}
