<app-breadcrumb [breadcrumps]="breadcrumbs" [buttonLabelKey]="'RECIPE_DETAILS_PAGE.EDIT'" (onButtonClicked)="onEditRecipe()"
  [title]="currentRecipe?.name" [subtitle]="currentRecipe?.author?.firstName + ' ' + currentRecipe?.author?.lastName">
</app-breadcrumb>

<section *ngIf="currentRecipe != null" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h4 class="title is-4">{{ 'RECIPE_DETAILS_PAGE.INGREDIENTS' | translate }}</h4>
        <div class="box">
          <table class="table is-fullwidth is-hoverable">
            <tbody>
              <tr *ngFor="let ingredient of currentRecipe.ingredients">
                <td class="align-right">{{ ingredient.amount }} {{ ingredient.unit }} </td>
                <td>{{ ingredient.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column is-two-thirds">
        <h4 class="title is-4">{{ 'RECIPE_DETAILS_PAGE.INSTRUCTIONS' | translate }}</h4>
        <div *ngFor="let descriptionBlock of splittedDescription" class="box">
          <p>
            {{ descriptionBlock }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
