@import './src/assets/sass/vars';

.is-huge {
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  height: 4rem;
  font-size: 1.5rem;
  padding-left: calc(1em - 1px);
  border: 0;
  &:hover {
    box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2);
  }
}

.icon.is-huge-icon.is-right {
  height: 4rem;
  width: 4rem;
}

.has-small-padding {
  padding: 1.5rem;
}
