<app-breadcrumb [breadcrumps]="breadcrumbs"
                [buttonLabelKey]="'NAVIG.CREATE_RECIPE'"
                (buttonClicked)="onCreateRecipe()">
</app-breadcrumb>

<section class="section has-background-white has-small-padding">
  <div class="container">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-huge"
               type="text"
               placeholder="{{ 'GENERAL.SEARCH' | translate }}"
               #searchRef />
        <span class="icon is-huge-icon is-right">
          <fa name="search"
              size="2x"></fa>
        </span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div *ngFor="let recipe of allRecipes"
           class="column is-one-fifth-widescreen is-one-quarter-tablet is-half-mobile">
        <div class="tile box is-paddingless"
             [@fadeInAndOut]>
          <div class="card-link"
             routerLink="./recipe-details/{{recipe.id}}"></div>
          <div class="card-image">
            <figure class="image is-4by3">
              <div *ngIf="recipe.imageFile != null; else: placeholder">
                <img class="border-top"
                     [src]="(recipe.imageFile.fileDownloadUri | secure | async) || ''" />
              </div>
              <ng-template #placeholder>
                <img class="border-top"
                     src="assets/img/placeholder/placeholder_gallery.jpg" />
              </ng-template>
            </figure>
          </div>
          <p class="title is-5 is-size-6-mobile has-text-centered has-small-padding card-title">{{ recipe.name }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="hero"
           *ngIf="allRecipes?.length == 0">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">{{ 'GENERAL.NOTFOUND' | translate }}</h1>
        <h2 class="subtitle">{{ 'GENERAL.TRYAGAIN' | translate }}</h2>
      </div>
    </div>
  </section>
</section>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="medium"
             color="#fff"
             type="ball-spin-fade"></ngx-spinner>
