<section class="hero is-small is-primary"
         [@fadeInAndOut]>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6">
          <nav class="breadcrumb"
               aria-label="breadcrumbs">
            <ul>
              <li *ngFor="let breadcrump of breadcrumps; let last = last"
                  [ngClass]="last ? 'is-active' : ''">
                <a routerLink="{{ breadcrump.routerlink }}">
                  {{ breadcrump.labelKey ?
                  (breadcrump.labelKey | translate)
                  : breadcrump.label }}</a>
              </li>
            </ul>
          </nav>
        </div>

        <div *ngIf="buttonLabelKey"
             class="column is-6">
          <div class="buttons has-addons is-right">
            <span class="button is-white"
                  (click)="buttonClicked.emit('')">
              {{ buttonLabelKey | translate }}
            </span>
          </div>
        </div>
        <div></div>
      </div>

      <div *ngIf="title || titleKey"
           class="container">
        <h1 class="title">{{ titleKey ? (titleKey | translate) : title }}</h1>
        <h2 class="subtitle">{{ subtitleKey ? (subtitleKey | translate) : subtitle }}</h2>
      </div>
    </div>
  </div>
</section>
