td.align-right {
  text-align: right;
}

th.align-right {
  text-align: right;
}

.box {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.09), 0 0 0 0.5px rgba(10, 10, 10, 0.1);
  padding: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
}

td {
  font-size: 1.2rem;
}
