 <div>
  <section class="hero is-primary is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6">
            <h1 class="title">
              Cookbook
            </h1>
            <h2 class="subtitle">
              You digital cookbook with <br> all your favourite recipes.
            </h2>
          </div>
          <div class="column is-6">
            <div class="section-media">
              <img src="assets/img/logo.png"> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-medium is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Primary title
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
      </div>
    </div>
  </section>
</div>