<footer class="app-footer section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
      </div>
      <div class="column is-7">
        <div class="columns">
          <div class="column is-6"></div>
          <div class="column is-3">
            <div class="menu">
              <p class="menu-label">Product</p>
              <ul class="menu-list">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/recipes">Recipes</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-3">
            <div class="menu">
              <p class="menu-label">Company</p>
              <ul class="menu-list">
                <li>
                  <a href="/about-us">About</a>
                </li>
                <li>
                  <a href="/imprint">Imprint</a>
                </li>
                <li>
                  <a href="/privacy">Privacy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
