$brown: #4f5047;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$family-sans-serif: 'Nunito', serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #171e27;
$link: #2e5682;

$control-border-width: 1px;
$input-background-color: $beige-lighter;
$input-border-color: none;
$input-shadow: none;
$navbar-background-color: #f5f8fd;

$navbar-height: 5rem;
$box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2);
