@import './src/assets/sass/vars';

.logo {
  width: 3rem;
  height: 3rem;
  transition: fill 0.2s ease-in-out;
  &:hover {
    fill: $primary;
  }
}

.navbar-item.disable-hover:hover {
  background: $navbar-background-color !important;
}

.navbar-menu:not(.is-active) {
  .navbar-item {
    padding: 0 25px;
    border-style: solid;
    border-width: 0;
    border-top-width: 3px;
    border-color: transparent;
    font-weight: 600;
  }

  .navbar-item.login-button,
  .navbar-item.has-dropdown {
    border-top-width: 0px;
  }

  .navbar-item.is-active.is-top-border,
  .navbar-item.is-active.is-top-border:hover {
    border-color: $link;
    background-color: #f1f1f1;
    color: $link;
  }

  .navbar-item.is-top-border:hover {
    color: $link;
  }

  .navbar-start.is-centered {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    height: 100%;
    display: flex;
  }

  a {
    font-size: 1.2rem;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 1.4rem;
  }
}

.button {
  padding: 1.4rem 2rem;
  font-weight: 400;
}
