@import './src/assets/sass/vars';

.container {
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 3rem;
    height: 3rem;
    transition: fill 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      fill: $primary;
    }
  }

  .link {
    font-weight: 400;
    font-size: 1.2rem;
    border-bottom: 3px $navbar-background-color solid;
    color: black;

    &.is-active {
      color: black;
      border-bottom: 3px $primary solid;
    }
  }

  .container-right {
    display: flex;
    align-items: center;

    .profile-pic {
      cursor: pointer;
    }

    .button {
      margin-right: 1.5rem;
    }

    .has-border {
      border: 6px solid $navbar-background-color;
      &:hover {
        border: 6px solid rgba(234, 234, 234, 0.6);
      }
    }
  }
}

@media screen and (max-width: 895px) {
  .navbar > .container {
    display: flex;
  }
  .logo {
    margin-left: 1.5rem;
  }
  .profile-pic {
    margin-right: 1.5rem;
  }
}
