@import './src/assets/sass/vars';

.button {
  margin-bottom: 0.5rem;
  padding: 1.4rem 2rem;
  font-weight: 600;
}

.hero.is-small .hero-body {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  box-shadow: $box-shadow;
}

a {
  font-size: 1.2rem;
}
