.box {
  box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.11);
}

.custom-title {
  font-size: 1.1rem;
  padding: 1.25rem;
}

.border-top {
  border-radius: 6px 6px 0 0;
}

.tile {
  position: relative;

  .card-link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;

    &:hover ~ .card-title {
      text-decoration: underline;
    }
  }

  .card-image,
  .card-title {
    pointer-events: none;
    position: relative;
    z-index: 10;
  }
}
