<app-breadcrumb [breadcrumps]="breadcrumbs"
                [buttonLabelKey]="'NAVIG.CREATE_RECIPE'"
                (onButtonClicked)="onCreateRecipe()">
</app-breadcrumb>

<section class="section has-background-white-bis has-small-padding">

  <div class="container">
    <div class="field">
      <div class="control">
        <input class="input is-huge"
               type="text"
               placeholder="{{ 'GENERAL.SEARCH' | translate }}"
               #searchRef>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let chunkedRecipe of chunkedRecipes"
         class="tile is-ancestor">
      <div *ngFor="let recipe of chunkedRecipe; let i = index"
           class="tile is-{{ 12 / RECIPES_PER_ROW }} is-parent">
        <div class="tile is-child box is-paddingless">
          <a routerLink="/recipe-details/{{recipe.id}}"
             class="card-link"></a>
          <figure class="image card-image">
            <img class="border-top card-image"
                 src="assets/img/food/example-{{i + 1}}.png">
          </figure>
          <p class="title is-4 has-text-centered custom-title card-title">
            {{ recipe.name }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="hero"
           *ngIf="chunkedRecipes?.length == 0">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          {{ 'GENERAL.NOTFOUND' | translate }}
        </h1>
        <h2 class="subtitle">
          {{ 'GENERAL.TRYAGAIN' | translate }}
        </h2>
      </div>
    </div>
  </section>
</section>

<!--ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
             size="medium"
             color="#fff"
             type="ball-spin-fade"></ngx-spinner-->
