<app-breadcrumb [breadcrumps]="breadcrumbs" [buttonLabelKey]="'NAVIG.CREATE_RECIPE'" (onButtonClicked)="onCreateRecipe()">
</app-breadcrumb>

<section class="section">
  <div class="container">
    <div *ngFor="let chunkedRecipe of chunkedRecipes" class="tile is-ancestor">
      <div *ngFor="let recipe of chunkedRecipe" class="tile is-{{ 12 / RECIPES_PER_ROW }} is-parent">
        <div class="tile is-child box is-paddingless">
          <figure class="image is-4by3">
            <img class="border-top" src="assets/img/food/example-3.png">
          </figure>
          <p class="title is-4 has-text-centered custom-title">
            <a routerLink="/recipe-details/{{recipe.id}}">{{ recipe.name }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
