$brown: #4f5047;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$white: #ffffff;
$red: #d84c4c;

$family-sans-serif: 'Nunito', serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #3672d7;
$link: #2e5682;

$control-border-width: 1px;
$input-background-color: $white;
$input-border-color: none;
$input-shadow: none;
$navbar-background-color: #f9f9f9;

$navbar-height: 5rem;
$box-shadow: 0 4px 50px 0px rgba(0, 0, 0, 0.2);
$input-focus-box-shadow-size: 0;
$desktop: 896px;
